@font-face {
	font-family: "pixelfont";
	src: url("assets/04b_03.ttf") format("truetype");
}

::selection { background: #b0cfc3; } /* WebKit/Blink Browsers */
::-moz-selection { background: #b0cfc3; } /* Gecko Browsers */

p {
	font-family: pixelfont;
	font-size: 16px;
}

* {
	margin: 0;
	padding: 0;
}

div, img {
	image-rendering: pixelated;
	image-rendering: crisp-edges;
	image-rendering: optimize-contrast;
	image-rendering: optimizeSpeed;
	image-rendering: -moz-crisp-edges;
	image-rendering: -o-crisp-edges;
}

#test {
	top: 590px;
}

#pageheader {
	position: absolute; margin: auto;
	top: 101px; left: 0; right: 0;
	width: 936px;
	background-color: #4b7c68;
	padding: 2px;
}

#pagecontent {
	position: absolute; margin: auto;
	top: 346px; left: 0; right: 0;
	width: 936px;
	background-color: #4b7c68;
	padding: 2px;
}

#header {
	width: 100%;
	height: 243px;
	background-color: #9fc5b6;
	background-image: url("assets/header.png");
}

#window {
	position: absolute; margin: auto;
	top: 117px;
	left: 468px;
	width: 40px;
	height: 40px;
}

#akarin {
	position: absolute; margin: auto;
	left: 250px;
	width: 246px;
	height: 352px;
	background-image: url("assets/akarin.png");
	transition: all 1s;
	transition-timing-function: cubic-bezier(0.0, 0.0, 0.2, 1);
}

#akarinhide {
	position: absolute; margin: auto;
	left: 250px;
	width: 246px;
	height: 352px;
	background-color: #2e4b3f;
}

#settings {
	position: absolute; margin: auto;
	right: 2px;
	top: -243px;
	width: 50px;
	height: 35px;
	background-image: url("assets/settings.png");
	background-repeat: no-repeat;
	background-position: right 4px top 4px;
	transition: all 200ms linear;
}

#settings:hover {
	width: 200px;
	background-color: rgba(94,155,131,0.7);
	background-image: url("assets/settingshover.png");
}

#settings p {	
	color: #9fc5b6;
	position: absolute; margin: auto;
	opacity: 0;
	padding-top: 3px;
	padding-left: 7px;
	transition: all 200ms linear;
	display: none;
}

@keyframes settingsText {
	0% {opacity: 0;}
	45% {opacity: 0;}
	100% {opacity: 100;}
}

#settings:hover p {
	display: block;
	animation-name: settingsText;
	animation-duration: 400ms;
	animation-fill-mode: forwards;
}

#settings:hover #hueslider {
	color: #4b7c68;
	display: block;
	animation-name: settingsText;
	animation-duration: 400ms;
	animation-fill-mode: forwards;
}

#hueslider {
	-webkit-appearance: none;
	position: absolute; margin: auto;
	top: 12px;
	right: 50px;
	background-color: #9fc5b6;
	width: 120px;
	height: 4px;
	margin: 3px 12px 0 0;
	outline: 0;
	display: none;
}

input[type="range"]::-webkit-slider-thumb {
	-webkit-appearance: none;
	background-color: #4b7c68;
	width: 8px;
	height: 8px;
}

#kyouko {
	position: absolute; margin: auto;
	top: -178px;
	left: 756px;
	width: 154px;
	height: 194px;
	background-image: url("assets/kyouko.gif");
	/*transition: all 100ms linear;*/
}

/*#kyouko:hover {
	background-image: url("assets/kyouko2.png");
}
*/
/*@keyframes mascotFall {
	0% {bottom: 100vh;}
	100% {bottom: 5px;}
}*/

#ayano {
	position: absolute; margin: auto;
	bottom: 0px;
	left: 10px;
	width: 310px;
	height: 344px;
	background-image: url("assets/ayano.png")
}

#door {
	position: absolute; margin: auto;
	bottom: 0px;
	left: 10px;
	width: 310px;
	height: 344px;
	background-color: #2e4b3f;
	transition: all 300ms;
	transition-timing-function: cubic-bezier(0.0, 0.0, 0.2, 1);
}

#mascot {
	position: fixed; margin: auto;
	bottom: 100vh;
	right: 5px;
	width: 207px;
	height: 542px;
	background-image: url("assets/mascot.png");
/*	animation-name: mascotFall;
	animation-duration: 1s;
	animation-timing-function: cubic-bezier(0.0, 0.0, 0.2, 1);
	animation-fill-mode: forwards;
	animation-delay: 200ms;*/
	transition: all 1s cubic-bezier(0.0, 0.0, 0.2, 1);
}

#mascot:hover{
	bottom: 50px !important;
}

#navbar {
	background-color: #4b7c68;
	padding: 2px;
	width: 930px;
	height: 10px;
}

#content {
	background-color: #9fc5b6;
	padding: 25px;
	width: 886px;
}

#content p {
	color: #4b7c68;
	line-height: 20px;
}

#bgcolor {
	position: fixed; margin: auto;
	top: 0; left: 0; bottom: 0; right: 0;
	background-color: #2e4b3f;
	width: 100%;
	height: 100%;
}

body {
	background-color: #2e4b3f;
}

html {
	cursor: url("assets/cursor.png"), auto;
/*	-webkit-filter:hue-rotate(0deg);
	-moz-filter:hue-rotate(0deg);
	-o-filter:hue-rotate(0deg);
	-ms-filter:hue-rotate(0deg); */
}

#nav {
	position: absolute; margin: auto;
	/*top: 237px;*/
	top: 1px;
	left: 2px;
	font-size: 16px;
	color: #9fc5b6;
}

#nav a {
	color: #9fc5b6;
	text-decoration: none;
	padding: 0 30px;
	transition: all 200ms linear;
}

#nav a:hover {
	color: #c1d9cf;
}

#content a {
	color: #4b7c68;
	text-decoration: none;
	transition: all 200ms;
}

#content a:hover {
	color: #70a992;
	padding-left: 6px;

}

@keyframes fadeIn {
	0% {
		opacity: 0;
		margin-top: 100px;
	}
	100% {
		opacity: 1;
		margin-top: 0px;
	}
}

#page {
	position: relative;
	animation-name: fadeIn;
	animation-duration: 1s;
	animation-timing-function: cubic-bezier(0.0, 0.0, 0.2, 1);
	animation-fill-mode: forwards;
}

.indent {
	margin-left: 25px;
}

#term {
	position: absolute; margin: auto;
	top: 0;
	bottom: 0;
	width: 920px;
}

#term p {
	position: absolute; margin: auto;
	top: 2px;
	left: 0;
	right: 0;
	height: 221px;
	resize: none;
	border: none;
	line-height: 16px;
	background-color: rgba(94,155,131,0.7);
	padding-left: 2px;
	width: 934px;	
}

#term p::-webkit-scrollbar {
	width: 0;
}

#term input {
	position: absolute; margin: auto;
	bottom: 2px;
	padding-left: 18px;
	border: none;
	line-height: 22px;
	background-color: rgba(94,155,131,0.93);
	width: 918px;	
}

#term::after {
	position: absolute; margin: auto;
	top: 226px;
	left: 2px;
	content: ">";
	font-family: pixelfont;
	font-size: 16px;
	color: #b0cfc2;
}

#term p, 
#term input {
	font-family: pixelfont;
	font-size: 16px;	
	text-transform: uppercase;
	color: #b0cfc2;
}

#term input:focus, 
#term p:focus {
	outline: none;
}