@font-face {
	font-family: "pixelfont";
	src: url("assets/Pixeled.ttf") format("truetype");
}

::selection { background: #b0cfc3; } /* WebKit/Blink Browsers */
::-moz-selection { background: #b0cfc3; } /* Gecko Browsers */

p {
	font-family: pixelfont;
	font-size: 10px;
}

* {
	margin: 0;
	padding: 0;
}

div, img {
	image-rendering: pixelated;
	image-rendering: crisp-edges;
	image-rendering: optimize-contrast;
	image-rendering: optimizeSpeed;
	image-rendering: -moz-crisp-edges;
	image-rendering: -o-crisp-edges;
}

#test {
	top: 590px;
}

#pageheader {
	position: absolute; margin: auto;
	top: 101px; left: 0; right: 0;
	width: 936px;
	background-color: #4b7c68;
	padding: 2px;
}

#pagecontent {
	position: absolute; margin: auto;
	top: 346px; left: 0; right: 0;
	width: 936px;
	background-color: #4b7c68;
	padding: 2px;
}

#header {
	width: 100%;
	height: 243px;
	background-color: #9fc5b6;
	background-image: url("assets/header.png");
}

#window {
	position: absolute;
	top: 117px;
	left: 468px;
	width: 40px;
	height: 40px;
}

#akarin {
	position: absolute;
	left: 250px;
	width: 246px;
	height: 352px;
	background-image: url("assets/akarin.png");
	transition: all 1s;
	transition-timing-function: cubic-bezier(0.0, 0.0, 0.2, 1);
}

#akarinhide {
	position: absolute;
	left: 250px;
	width: 246px;
	height: 352px;
	background-color: #2e4b3f;
}

#kyouko {
	position: absolute;
	top: -178px;
	left: 756px;
	width: 154px;
	height: 194px;
	background-image: url("assets/kyouko.gif");
	/*transition: all 100ms linear;*/
}

/*#kyouko:hover {
	background-image: url("assets/kyouko2.png");
}
*/
/*@keyframes mascotFall {
	0% {bottom: 100vh;}
	100% {bottom: 5px;}
}*/

#mascot {
	position: absolute;
	bottom: 100vh;
	right: 5px;
	width: 207px;
	height: 542px;
	background-image: url("assets/mascot.png");
/*	animation-name: mascotFall;
	animation-duration: 1s;
	animation-timing-function: cubic-bezier(0.0, 0.0, 0.2, 1);
	animation-fill-mode: forwards;
	animation-delay: 200ms;*/
	transition: all 1s cubic-bezier(0.0, 0.0, 0.2, 1);
}

#mascot:hover{
	bottom: 50px !important;
}

#navbar {
	background-color: #4b7c68;
	padding: 2px;
	width: 930px;
	height: 10px;
}

#nav {
	position: absolute;
	/*top: 237px;*/
	top: -8px;
	left: 2px;
	font-size: 10px;
	color: #9fc5b6;
}

#content {
	background-color: #9fc5b6;
	padding: 25px;
	width: 886px;
}

#content p {
	color: #4b7c68;
}

body, html {
	background-color: #2e4b3f;
	cursor: url("assets/cursor.png"), auto;
}

#nav a {
	color: #9fc5b6;
	text-decoration: none;
	padding: 0 22px;
}

#content a {
	color: #4b7c68;
	text-decoration: none;
}

@keyframes fadeIn {
	0% {
		opacity: 0;
		margin-top: 100px;
	}
	100% {
		opacity: 1;
		margin-top: 0px;
	}
}

#page {
	position: relative;
	animation-name: fadeIn;
	animation-duration: 1s;
	animation-timing-function: cubic-bezier(0.0, 0.0, 0.2, 1);
	animation-fill-mode: forwards;
}

.indent {
	margin-left: 25px;
}